 .form{
     display: flex;
     justify-content: center;
 }
 
 .username{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin: 20px;
}